<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd ">

	<context:component-scan base-package="tst.project.webservice.controller" />
	<context:component-scan base-package="tst.project.webservice.interfaces" />
	<context:component-scan base-package="tst.project.service.controller" />
	<context:component-scan base-package="tst.project.service.interfaces" />
	
	<bean id="da" class="org.apache.ibatis.datasource.pooled.PooledDataSource">    
	    <property name="driver" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://106.14.17.171:3306/shop_sw?characterEncoding=UTF-8" />
		<property name="username" value="root" />
		<property name="password" value="Zha54321"/>
	</bean>

	<bean id="sessionfactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="da" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="da" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/" p:suffix=".jsp" />
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="tst.project.dao.controller" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="tst.project.dao.interfaces" />
	</bean>
</beans>